<style type="text/css">
  .fliptable .title {
    width: 67%;
  }

  .fliptable .author {
    width: 33%;
  }
</style>
{% for status in site.data.statuses %}
  {% assign flips = include.flips|where:"status",status|sort:"flip" %}
  {% assign count = flips|size %}
  {% if count > 0 %}
    <h2 id="{{status|slugify}}">{{status}}</h2>
    <table class="fliptable">
      <thead>
        {% if status == "Last Call" %}
          <tr>
          <th class="flipnum">Number</th><th class="date">Review ends</th><th class="title">Title</th><th class="author">Author</th></tr>
        {% else %}
          <tr><th class="flipnum">Number</th><th class="title">Title</th><th class="author">Author</th></tr>
        {% endif %}
      </thead>
      {% for page in flips %}
        <tr>
          <td class="flipnum"><a href="{{page.url|relative_url}}">{{page.flip|xml_escape}}</a></td>
          {% if status == "Last Call" and page.last-call-deadline != undefined %}
            <td class="date">{{ page.last-call-deadline | xml_escape }}</td>
          {% endif %}
          <td class="title">{{page.title|xml_escape}}</td>
          <td class="author">{% include authorlist.html authors=page.author %}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endfor %}
